rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Colección users (Admin, Personal, Padres)
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
        request.auth.token.role == 'user_admin' || 
        request.auth.uid == userId ||
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'user_admin'
      );
    }

    // Colección students (Alumnos y Preinscripciones)
    match /students/{studentId} {
      allow read, create: if true;
      allow update, delete: if request.auth != null;
    }

    // Colección news (Noticias)
    match /news/{newsId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Colecciones Académicas y Servicios
    match /courses/{document} {
      allow read, write: if request.auth != null;
    }
    match /subjects/{document} {
      allow read, write: if request.auth != null;
    }
    match /sports/{document} {
      allow read, write: if request.auth != null;
    }
    match /schedules/{document} {
      allow read, write: if request.auth != null;
    }
    match /transport_routes/{document} {
      allow read, write: if request.auth != null;
    }
    
  }
}
